.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px 14px 30px;
  background: #f1f3f4;

  .genre {
    margin: 0 10px;

    &.active {
      color: #1967d2;
    }
  }

  .search-field {
    .option {
      display: flex;

      .img-icon {
        width: 30px;
        margin-right: 20px;
      }
    }
  }
}
